[submodule "services/AgenticCV"]
	path = services/AgenticCV
	url = git@github.com:HuaMick/AgenticCV.git
[submodule "services/AgenticFinances"]
	path = services/AgenticFinances
	url = git@github.com:HuaMick/AgenticFinances.git
